<div class="banner">
  <carousel [noPause]="false">
    <slide>
      <img src="assets/banner-images/banner-image1.png" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/banner-images/banner-image2.png" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/banner-images/banner-image3.png" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

<div class="category-heading">
  Our Top Categories
</div>

<div class="categories d-flex flex-wrap justify-content-center">

  <div class="d-flex flex-wrap justify-content-center mx-2" style="border: 1px solid blue">
    <mat-card class="category-card my-4 mx-3">
      <img class="category-image" src="assets/category-images/salwar-kameez.jpeg">
      <mat-card-content class="pt-4">
        <div class="category-label">
          Stylish Salwar Kameez
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="category-card my-4 mx-3">
      <img class="category-image" src="assets/category-images/culture-couture.png">
      <mat-card-content class="pt-4">
        <div class="category-label">
          Men's Cultural Couture
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="d-flex flex-wrap justify-content-center mx-2" style="border: 1px solid blue">
    <mat-card class="category-card my-4 mx-3">
      <img class="category-image" src="assets/category-images/redefined-jewellery.png">
      <mat-card-content class="pt-4">
        <div class="category-label">
          Refined Jewellery
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="category-card my-4 mx-3">
      <img class="category-image" src="assets/category-images/Saree.png">
      <mat-card-content class="pt-4">
        <div class="category-label">
          Rich Traditional Sarees
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
