.banner-image {
  width: -webkit-fill-available;
}

.categories {
  border: 2px solid green;
  margin: 0px 8% 50px 8%;
}

.category-heading {
  text-align: center;
  font-size: 30px;
  margin: 40px 0 20px 0;
}

.category-card {
  max-width: fit-content;
  border: 1px solid black;
  /*padding: 0px !important;*/
}

.category-image {
  width: 300px;
  height: 425px;
  border: 1px solid red;
}

.category-label {
  font-size: 18px;
  text-align: center;
}
